@use "variables";
@use "colors";

.top,
.meta,
.buttons {
  transition: opacity variables.$transition-speed-slow;
  opacity: 1;
}

.header {
  transition: background variables.$transition-speed-slow;
}

.focus {

  .top,
  .meta,
  .buttons {
    opacity: 0;
    pointer-events: none;
  }

  .meta {
    height: 0;
    overflow: hidden;
  }

  .header,
  .main textarea {
    background: colors.$color-athens-gray;
  }
}