@use "variables";
@use "colors";

* {
  -webkit-font-smoothing: antialiased;
}

body {
  font: calc(variables.$font-size-base/variables.$line-height-base), variables.$font-family-base;
  color: variables.$page-color;
}

b,
strong {
  font-weight: 500;
}

a,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  color: variables.$link-color;
  text-decoration: variables.$link-decoration;
  transition: all variables.$link-transition-speed;
}

::selection {
  background: colors.$color-shuttle-gray;
  color: colors.$color-white;
}

::-webkit-input-placeholder {
  color: colors.$color-heather;
}

::-moz-placeholder {
  color: colors.$color-heather;
}

::placeholder {
  color: colors.$color-heather;
}