@use "../variables";
@use "../colors";

.btn {
  display: inline-block;
  padding: 0 22px;
  border: none;
  border-radius: variables.$border-radius;
  font-size: variables.$font-size-small;
  line-height: 38px;
  font-weight: bold;
  color: variables.$button-color;
  background: variables.$button-background;

  /* span.btn */
  cursor: pointer;

  &:hover {
    background: variables.$button-background-hover;
  }

  &.secondary {
    background: variables.$button-secondary-background;

    &:hover {
      background: variables.$button-secondary-background-hover;
    }
  }

  &.blue {
    background: colors.$color-blue;

    &:hover {
      background: colors.$color-blue-accent;
    }
  }

  &.red {
    background: colors.$color-red;

    &:hover {
      background: colors.$color-red-accent;
    }
  }

  &#exit-focus {
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 0 17px;
    line-height: 32px;
    background: colors.$color-mischka;
    color: colors.$color-slate-gray;

    &:hover {
      background: colors.$color-mischka;
    }
  }
}