@use "../variables";
@use "../colors";

#media {
  display: none;
}

#upload-file {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  background: rgba(colors.$color-heather, 0.75);
  transition: opacity variables.$transition-speed-base, background variables.$transition-speed-base;

  &.success {
    background: colors.$color-sushi;

    span {
      color: colors.$color-white;
      background-image: url(variables.$icon-check-mark);
    }
  }

  .draggy & {
    opacity: 1;
    z-index: 10000;
  }

  span {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 250px;
    height: 30px;
    margin: -40px 0 0 -125px;
    padding-top: 50px;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    color: colors.$color-slate-gray;
    background: url(variables.$icon-cloud) no-repeat 50% 0;
    transition: color variables.$transition-speed-base;
  }
}