@use "../variables";
@use "../colors";

.bottom {
  padding: 40px 0 30px;

  small {
    float: left;
    font-size: variables.$font-size-small;
  }

  em {
    float: right;
    font-size: variables.$font-size-small;
    font-style: normal;
    color: colors.$color-gray-chateau;
  }
}