@use "../variables";
@use "../mixins/breakpoints";
@use "../colors";

.top {
  position: relative;
  padding: 15px 0;
  background: colors.$color-river-bed;
  z-index: 21;

  a {
    display: inline-block;
    padding: 0 18px;
    font-size: variables.$font-size-small;
    font-weight: variables.$font-weight-bold;
    line-height: 34px;
  }

  .logo {
    margin-right: 25px;

    a {
      padding: 0;
      background: transparent url(variables.$icon-logo) no-repeat center center;
      width: 24px;
      height: 34px;
      text-indent: -1000px;
    }
  }

  nav {
    float: none;
    overflow: hidden;

    @include breakpoints.breakpoint(variables.$breakpoint-small) {
      float: left;
    }

    li {
      float: left;
      list-style: none;

      a {
        float: inherit;
      }
    }

    img {
      position: relative;
      top: 4px;
    }

    a {
      margin-right: 15px;
      color: colors.$color-bali-hai;

      &:hover {
        color: colors.$color-rock-blue;
      }
    }

    .active a {
      color: colors.$color-oxford-blue;
      background: colors.$color-lynch;
      border-radius: variables.$border-radius;
    }
  }

  .btn {
    display: none;
    float: right;
    padding: 0 16px;
    margin-left: 18px;
    border-radius: variables.$border-radius;
    background: colors.$color-bright-gray;
    color: colors.$color-slate-gray;

    @include breakpoints.breakpoint(variables.$breakpoint-small) {
      display: initial;
    }

    &:hover {
      color: colors.$color-light-regent-gray;
      background: colors.$color-licorice;
    }
  }
}