@use "../../variables";
@use "../../colors";

.split {
  input[type="file"] {
    padding: 0;
    overflow: hidden;
  }

  .file {
    float: left;
    display: block;
    width: 50px;
    height: 39px;
    border-radius: 0 variables.$border-radius variables.$border-radius 0;
    background: colors.$color-athens-gray url(variables.$icon-cloud) no-repeat center center;
    background-size: 32px;
    overflow: hidden;

    input {
      display: block;
      height: 39px;
      opacity: 0;
    }
  }

  .current-file {
    float: left;
    display: block;
    min-width: 250px;
    height: 39px;
    padding: 0 16px;
    border-radius: 0;
    line-height: 39px;
    overflow: hidden;
    background: colors.$color-white;
  }

  .remove-file {
    display: block;
    float: left;
    width: 39px;
    height: 39px;
    border-radius: 0;

    a {
      display: block;
      width: 39px;
      height: 39px;
      text-indent: -1000px;
      background: colors.$color-athens-gray url(variables.$icon-cross) no-repeat center center;
      overflow: hidden;
    }
  }
}